# Compiled Source

*.com
*.class
*.dll
*.exe
*.o
*.so
*.obj
*.pdb
*.snk
*.cache
*.vspscc
*.suo
*.bak
*.scc
*.lib
*.log
*.sbr
*.ilk
*.tlh
*.tlb
*._i.c
*._p.c
*.pch
*.ncb
*.aps
*.user
*.iml
*.publish.xml
bin/
obj/

# OS Files

.DS_Store
.DS_Store?
.Spotlight-V100
ehthumbs.db
Thumbs.db